.class a {
  color: var(--vert, #3e8169);
  font-family: Almarai;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}

.class_a {
  border-radius: 7px;
  background: var(--blanc, #fbf9fd);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.class_a a {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 9px;
  padding-right: 9px;
}

.class_a a:hover {
  background: var(--rose, #ffb8d2);
  padding-top: 15px;
}
