footer {
  background: #ffb8d2;
}

footer p {
  color: var(--blanc, #fbf9fd);
  font-family: Almarai;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-bottom: 8px;
}
