footer {
  background: #ffb8d2;
  padding-top: 85px;
  padding-bottom: 20px;
}

footer p {
  color: var(--blanc, #fbf9fd);
  font-family: Almarai;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-bottom: 8px;
}

footer a {
  color: var(--blanc, #fbf9fd);
  font-family: Almarai;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  text-align: right;
  gap: 15px;
}

footer a:hover {
  color: var(--vert, #3e8169);
}

.footer-admin {
  display: flex;
  gap: 15px;
}
