.temps {
  border-radius: 18px;
  border: 3px solid var(--blanc, #fbf9fd);
  margin-top: 46px;
  margin-bottom: 120px;
}

.temps-switch-wrapper {
  display: inline-block;
  width: 53px;
  height: 27px;
  flex-shrink: 0;
  border-radius: 86px;
  background: #3e8169;
  border: 3px solid var(--blanc, #fbf9fd);
}

.temps-switch-inner {
  width: 21px;
  height: 21px;
  flex-shrink: 0;
  border-radius: 21px;
  background: var(--vert, #fbf9fd);
  transition: margin 0.5s;
}

input:checked + .temps-switch-wrapper {
  background: #fbf9fd;
  border: 3px solid var(--blanc, #fbf9fd);
}

input:checked + .temps-switch-wrapper .temps-switch-inner {
  margin-left: 25px;
  background: #3e8169;
}

.temps-switch input {
  display: none;
}

.temps p {
  color: var(--blanc, #fbf9fd);
  font-family: Almarai;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  flex-shrink: 0;
}

.temps h2 {
  flex-shrink: 0;
  color: var(--blanc, #fbf9fd);
  text-align: center;
  font-family: Almarai;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 22px;
  border-bottom: 3px solid var(--blanc, #fbf9fd);
}

.temps-switch {
  display: flex;
  gap: 10px;
  align-items: center;
  width: 50%;
}

.temps-switch-line {
  display: flex;
  padding-bottom: 14px;
  border-bottom: 1px solid var(--blanc, #fbf9fd);
  padding-top: 14px;
  padding-left: 66px;
}

.temps-first {
  border-top: 1px solid var(--blanc, #fbf9fd);
}

h3 {
  color: var(--blanc, #fbf9fd);
  font-family: Almarai;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-top: 64px;
}

.temps-radio {
  color: var(--blanc, #fbf9fd);
  font-family: Almarai;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.themps-delete {
  opacity: 0.56;
  padding-top: 13px;
}

.temps-layout {
  padding: 22px;
}

.temps-radio {
  display: block;
}

.radio-placeholder {
  display: inline-block;
  width: 21px;
  height: 21px;
  border-radius: 8px;
  background: #fbf9fd;
  border-radius: 10px;
}

.radio-input {
  display: none;
  align-items: center;
}

.radio-placeholder div {
  width: 11px;
  height: 11px;
  border-radius: 10px;
  margin-top: 5px;
  margin-left: 5px;
}

input:checked + .radio-placeholder div {
  background: #3e8169;
}

.temps-radio-1 {
  margin-top: 54px;
  margin-left: 98px;
}

.temps-radio-2 {
  margin-bottom: 50px;
  padding-top: 8px;
  margin-left: 98px;
}
